Repository medjidovKamran/open-social-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --no-ignore --fix",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint --fix",
      "git add --force"
    ]
  }

fixed localization: menu: profile
  client/src/components/Menu/Menu.js
  client/src/utils/lib/languages.json
Due: eslint --no-ignore --fix, git add --force, prettier --write

fixed button form Log in
  client/src/components/login/Login.scss
  client/src/components/login/LoginForm.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

hid non-working buttons on the profile
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

message search
  client/src/actions/chats.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/components/Chats/messages-search/messages-search.js
  client/src/components/Chats/messages-search/messages-search.scss
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/components/UsersPage/UsersPage.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

style problem
  client/src/components/restore/Restore.js
  client/src/components/restore/Restore.scss
  client/src/components/restore/index.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed link
  client/src/components/login/LoginPage.js
  client/src/components/restore/Restore.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

footer fix
  client/src/components/Layout/Footer.js
  client/src/components/Layout/footer.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed merge
  client/package-lock.json
Due: git add --force, prettier --write

messages search
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/messages-search/messages-search.js
Due: eslint --no-ignore --fix, git add --force

messages search
  client/src/actions/chats.js
  client/src/components/Chats/chats-dialogs/messages.js
  client/src/components/Chats/messages-search/messages-search.js
Due: eslint --no-ignore --fix, git add --force

message search
  client/src/actions/chats.js
Due: eslint --no-ignore --fix, git add --force

constants
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

fixed a bug with includes
  client/src/components/App.js
Due: eslint --no-ignore --fix, git add --force

Resolved conflicts in package-lock.json
  client/package-lock.json
Due: git add --force, prettier --write

restore password
  client/src/actions/user.js
  client/src/components/confirm/confirm.js
  client/src/components/confirm/confirm.module.scss
  client/src/components/login/LoginForm.js
  client/src/components/restore/Restore.js
  client/src/components/restore/Restore.scss
  client/src/constants/index.js
  client/src/reducers/confirm.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed auth error 401
  client/src/actions/user.js
  client/src/components/confirm/confirm.js
  client/src/components/confirm/confirm.module.scss
  client/src/components/login/LoginForm.js
  client/src/components/restore/Restore.js
  client/src/components/restore/Restore.scss
  client/src/reducers/confirm.js
  client/src/routes/index.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed restore form
  client/src/actions/user.js
  client/src/components/InputField/FieldInput.scss
  client/src/components/restore/Restore.js
  client/src/components/restore/Restore.scss
  client/src/components/restore/RestoreForm.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Social-74: add alert message after successful registration
  client/src/components/login/LoginPage.js
  client/src/components/signup/SignupPage.js
  client/src/constants/index.js
  client/src/utils/lib/languages.json
Due: eslint --no-ignore --fix, git add --force, prettier --write

Social-74: add alert message after successful registration
  client/src/components/login/LoginPage.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

fixed menu and menu item
  client/src/components/Menu/Menu.scss
  client/src/components/Menu/MenuItem/MenuItem.scss
Due: git add --force, stylelint --fix

Fixed layout,profile,loginForm styles
  client/src/components/Layout/Layout.js
  client/src/components/Layout/Layout.scss
  client/src/components/Menu/Menu.scss
  client/src/components/login/Login.scss
  client/src/components/profile/UserProfile/Profile.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

No console statement
  client/src/actions/user.js
  client/src/components/login/LoginPage.js
Due: eslint --no-ignore --fix, git add --force
