Repository medjidovKamran/open-social-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

fix action registration - messages
  client/src/actions/user.js
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/signup/SignupPage.js
  client/src/constants/index.js
  client/src/reducers/user.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

removed console
  client/src/actions/user.js
Due: eslint --no-ignore --fix, git add --force

changed apiUrl
  client/.prettierrc.js
  client/.stylelintrc.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-dialogs/message.module.scss
  client/src/components/Chats/chats-dialogs/messages.module.scss
  client/src/components/EditProfile/EditProfile.scss
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/variables.scss
  client/src/constants/index.js
  client/src/style/index.scss
  client/src/style/variables.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

chatsSearch added
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-search/chats-search.js
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fix bug with avatar, fix husky but need change rules
  client/.prettierrc.js
  client/.stylelintrc.js
  client/package.json
  client/src/actions/user.js
  client/src/actions/users.js
  client/src/assets/chat/noImg.png
  client/src/components/App.js
  client/src/components/Banner/Banner.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.module.scss
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/chats-dialogs/message.js
  client/src/components/Chats/chats-dialogs/messages.js
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/LangSelect/LangSelect.js
  client/src/components/Layout/Layout.js
  client/src/components/Menu/Menu.js
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/index.js
  client/src/components/login/LoginForm.js
  client/src/components/login/LoginPage.js
  client/src/components/signup/SignupPage.js
  client/src/components/signup/UserRegForm.js
  client/src/constants/index.js
  client/src/reducers/index.js
  client/src/reducers/menu.js
  client/src/reducers/user.js
  client/src/reducers/users.js
  client/src/routes/index.js
  client/src/utils/axios-with-auth.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

fix navBlock in chats page
  client/.eslintrc.js
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.module.scss
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/Chats/chats-mini/chats-mini.module.scss
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/components/LangSelect/LangSelect.js
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/Layout/Layout.scss
  client/src/components/Menu/Menu.js
  client/src/components/Menu/Menu.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

some changes to the design of the login page added
  client/package.json
  client/src/assets/bigWavesLogo.png
  client/src/assets/footer/footer-line.png
  client/src/assets/footer/footer-waves-logo.png
  client/src/assets/header/header-plus-circle.png
  client/src/assets/header/header-waves-logo.png
  client/src/assets/logo.png
  client/src/assets/main_image.png
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/EditProfile/EditProfile.scss
  client/src/components/InputField/FieldInput.scss
  client/src/components/Layout/Layout.js
  client/src/components/Layout/Layout.scss
  client/src/components/UsersPage/UsersPage.scss
  client/src/components/login/Login.scss
  client/src/components/login/LoginForm.js
  client/src/components/login/LoginForm.scss
  client/src/components/login/LoginPage.js
  client/src/components/login/LoginPage.scss
  client/src/components/signup/SignupPage.js
  client/src/components/signup/SignupPage.scss
  client/src/components/signup/UserRegForm.js
  client/src/components/signup/UserRegForm.scss
  client/src/utils/axios-with-auth.js
  client/yarn.lock
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

some changes to the design of the login page added
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

rewrite base style, header, footer
  client/src/assets/logos/Waves.png
  client/src/assets/logos/logo.svg
  client/src/components/Layout/Footer.js
  client/src/components/Layout/Header.js
  client/src/components/Layout/Layout.js
  client/src/components/Layout/Layout.scss
  client/src/components/Layout/footer.scss
  client/src/components/Layout/header.scss
  client/src/components/Link/Link.scss
  client/src/components/Menu/Menu.js
  client/src/style/index.scss
  client/src/style/variables.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

merge
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/EditProfile/EditProfile.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

changes to login component added
  client/src/components/login/Login.scss
  client/src/components/login/LoginForm.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

rewrited menu, have some problem with clickOutSide
  client/src/actions/lang.js
  client/src/components/LangSelect/LangSelect.js
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/Layout/Header.js
  client/src/components/Layout/Layout.js
  client/src/components/Link/Link.scss
  client/src/components/Menu/Menu.js
  client/src/components/Menu/Menu.scss
  client/src/components/Menu/MenuItem/Tab.js
  client/src/components/Menu/MenuItem/tab.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

different
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/src/reducers/users.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

some progress
  client/src/assets/images_banner/Waves.png
  client/src/assets/images_banner/loginBackground.png
  client/src/assets/images_banner/withoutLogo.png
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Layout/Layout.js
  client/src/components/Layout/Layout.scss
  client/src/components/Layout/footer.scss
  client/src/components/Layout/header.scss
  client/src/components/Menu/Menu.js
  client/src/components/Menu/MenuItem/Tab.js
  client/src/components/Menu/MenuItem/tab.scss
  client/src/components/Menu/dataMenu.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/components/login/Login.scss
  client/src/components/login/LoginPage.js
  client/src/components/profile/UserProfile/Profile.scss
  client/src/components/signup/signup.scss
  client/src/style/index.scss
  client/src/style/variables.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

changed ites menu from login user
  client/src/components/Menu/Menu.js
Due: eslint --no-ignore --fix, git add --force

social icons in layout
  client/src/assets/social_icons/facebook.svg
  client/src/assets/social_icons/instagram.svg
  client/src/assets/social_icons/twitter.png
  client/src/assets/social_icons/twitter.svg
  client/src/components/Layout/Footer.js
  client/src/components/Layout/footer.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

refactor swich/case
  client/src/components/App.js
Due: eslint --no-ignore --fix, git add --force

fixed setting language in localStorage
  client/src/components/Menu/Menu.js
Due: eslint --no-ignore --fix, git add --force

add change lang in submit-btn at login/sign-in pages
  client/src/components/login/LoginPage.js
  client/src/components/signup/SignupPage.js
  client/src/utils/lib/languages.json
Due: eslint --no-ignore --fix, git add --force, prettier --write

merge with dev
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.module.scss
  client/src/components/Menu/Menu.js
  client/src/components/profile/UserProfile/Profile.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

replacement icon
  client/src/assets/social_icons/twitter.png
  client/src/assets/social_icons/twitter.svg
  client/src/components/Layout/Footer.js
Due: eslint --no-ignore --fix, git add --force

add chats select & sockets + messages
  client/.eslintrc.js
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/actions/chats.js
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-dialogs/message.js
  client/src/components/Chats/chats-dialogs/message.module.scss
  client/src/components/Chats/chats-dialogs/messages.js
  client/src/components/Chats/chats-dialogs/messages.module.scss
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

smth
  client/src/actions/chats.js
  client/src/constants/index.js
  client/src/reducers/chats.js
Due: eslint --no-ignore --fix, git add --force

added changes from dev
  client/src/actions/profile.js
  client/src/actions/users.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
  client/src/components/Menu/Menu.js
  client/src/components/UsersPage/User/User.js
  client/src/components/login/LoginPage.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/index.js
  client/src/constants/index.js
  client/src/reducers/profile.js
  client/src/reducers/users.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

added localization to all site, fixed layout users page, profile page
  client/src/components/Chats/Chats.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/components/about/About.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfileButton.scss
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
  client/src/utils/lib/languages.json
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

fix own chat btn name
  client/src/components/Chats/Chats.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/UsersPage/User/User.js
  client/src/components/about/About.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
Due: eslint --no-ignore --fix, git add --force

fixed merge
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

created login template, fixed bug in app
  client/src/assets/logos/big-logo.png
  client/src/assets/submitArrow.svg
  client/src/components/App.js
  client/src/components/InputField/FieldInput.js
  client/src/components/InputField/FieldInput.scss
  client/src/components/Layout/footer.scss
  client/src/components/login/Login.scss
  client/src/components/login/LoginForm.js
  client/src/components/login/LoginPage.js
  client/src/components/variables.scss
  client/src/utils/lib/languages.json
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

message search added
  client/src/actions/chats.js
  client/src/components/Chats/Chats.js
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/Chats/chats-nav/chats-nav.js
  client/src/components/Chats/messages-search/messages-search.js
  client/src/components/Chats/messages-search/messages-search.scss
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

smth
  client/src/actions/chats.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

chat search
  client/package-lock.json
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/src/reducers/users.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

chats search
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-search/chats-search.js
  client/src/reducers/chats.js
Due: eslint --no-ignore --fix, git add --force

fixed logic upload files
  client/src/actions/chats.js
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/profile/UserProfile/Profile.js
  client/src/constants/index.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

was fixed locig uploads files
  client/src/components/UsersPage/User/User.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/constants/index.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force

fixed url http
  client/src/components/UsersPage/User/User.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

was fixed locig uploads files
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

messages search
  client/src/actions/chats.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/messages-search/messages-search.js
  client/src/components/Chats/messages-search/messages-search.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added refresh page after upload avatar
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
Due: eslint --no-ignore --fix, git add --force

added history.push after upload avatar
  client/src/components/login/LoginPage.js
  client/src/components/profile/UserProfile/Profile.js
Due: eslint --no-ignore --fix, git add --force

Improve login page.
  client/src/components/InputField/FieldInput.scss
  client/src/components/login/Login.scss
  client/src/components/login/LoginPage.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Path conditions:
  eslint --no-ignore --fix: any of: *.{js,jsx}
  git add --force: ((any of: *.{js,jsx}) or (any of: *.{json,md,graphql})) or (any of: *.{css,less,styl,scss,sass,sss})
  prettier --write: any of: *.{json,md,graphql}
  stylelint --fix: any of: *.{css,less,styl,scss,sass,sss}
