Repository medjidovKamran/open-social-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --no-ignore --fix",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint --fix",
      "git add --force"
    ]
  }

merge
  client/yarn.lock
  yarn.lock
Due: none

confirm
  client/src/actions/confirm.js
  client/src/components/App.js
  client/src/components/confirm/confirm.js
  client/src/components/confirm/confirm.module.scss
  client/src/components/confirm/index.js
  client/src/constants/index.js
  client/src/reducers/confirm.js
  client/src/reducers/index.js
  client/src/routes/index.js
  client/src/services/service-api.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Fix signUp errors
  client/src/actions/user.js
  client/src/components/confirm/confirm.js
Due: eslint --no-ignore --fix, git add --force

user data from the database in profile component added
  client/src/actions/profile.js
  client/src/actions/user.js
  client/src/components/Loader/Loader.js
  client/src/components/Loader/Loader.scss
  client/src/components/profile/Home.js
  client/src/components/profile/ProfileContainer.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/Profile.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
  client/src/components/profile/index.js
  client/src/constants/index.js
  client/src/reducers/index.js
  client/src/reducers/profile.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

getting user id changed
  client/package.json
  client/src/actions/profile.js
  client/src/actions/user.js
  client/src/components/profile/ProfileContainer.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/index.js
  client/src/utils/axios-with-auth.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

chat issue
  client/src/components/Chats/Chats.js
Due: eslint --no-ignore --fix, git add --force

adding user data from the database in the UserProfile component
  client/package.json
  client/src/actions/profile.js
  client/src/actions/user.js
  client/src/components/Loader/Loader.js
  client/src/components/Loader/Loader.scss
  client/src/components/profile/Home.js
  client/src/components/profile/ProfileContainer.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/Profile.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
  client/src/components/profile/index.js
  client/src/constants/index.js
  client/src/reducers/index.js
  client/src/reducers/profile.js
  client/src/utils/axios-with-auth.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

loader updated
  client/src/components/Loader/Loader.js
Due: eslint --no-ignore --fix, git add --force

User profile
  client/package-lock.json
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/index.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force, prettier --write

Fix chats issue
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/profile/index.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

user to chat
  client/yarn.lock
Due: none

load user avatar added
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

content-type updated
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

data validation added
  client/src/components/profile/UserProfile/Profile.js
Due: eslint --no-ignore --fix, git add --force

Fix images upload
  client/package-lock.json
  client/src/components/profile/UserProfile/Profile.js
Due: eslint --no-ignore --fix, git add --force, prettier --write

updated loading avatar, fixed styles
  client/src/components/Layout/Layout.scss
  client/src/components/profile/Home.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/Profile.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

123
  client/package-lock.json
  client/package.json
  client/src/actions/chats.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/Chats/index.js
  client/src/components/profile/UserProfile/Modal.scss
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

add dragNdrop
  client/src/actions/chats.js
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/Chats/chats-mini/move.js
Due: eslint --no-ignore --fix, git add --force

Fix mini chat
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

package-lock.json modified
  client/package-lock.json
Due: git add --force, prettier --write

New
  client/src/components/rSidebar/New
Due: none

Delete New
  client/src/components/rSidebar/New
Due: none

fix token
  client/src/actions/user.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

finished task 56
  client/package-lock.json
  client/src/components/Layout/Layout.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force, prettier --write

added EditProfileForm and action: editProfile
  client/src/actions/user.js
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfile/EditProfile.scss
  client/src/components/EditProfile/index.js
  client/src/components/EditProfileForm/EditProfileForm.js
  client/src/components/EditProfileForm/EditProfileForm.scss
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
  client/src/routes/index.js
  client/src/utils/validators/ValidationRules.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed action EditProfile
  client/src/actions/profile.js
  client/src/actions/user.js
  client/src/components/EditProfile/EditProfile.js
Due: eslint --no-ignore --fix, git add --force

fixed method Edit profile
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
  client/src/routes/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force

gsap installed
  client/package-lock.json
  client/package.json
Due: git add --force, prettier --write

added default value in form
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfile/index.js
  client/src/components/EditProfileForm/EditProfileForm.js
Due: eslint --no-ignore --fix, git add --force

fixed export in EditProfilePage
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
Due: eslint --no-ignore --fix, git add --force

Fix token
  client/src/actions/user.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

Fix profile edit
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
Due: eslint --no-ignore --fix, git add --force

added initialValue from state
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
Due: eslint --no-ignore --fix, git add --force

fixed birthdayDate
  client/src/components/EditProfileForm/EditProfileForm.js
Due: eslint --no-ignore --fix, git add --force

Created component a UsersPage and added a route.
  client/src/assets/users.svg
  client/src/components/Menu/Menu.js
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/components/UsersPage/index.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Added action: users, reducer: users. Create logic for getting users.
  client/src/actions/users.js
  client/src/components/UsersPage/User.js
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/components/UsersPage/index.js
  client/src/reducers/index.js
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed css usersPage
  client/src/components/UsersPage/User.js
  client/src/components/UsersPage/User.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added pagination
  client/package.json
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

minor fixes
  client/src/actions/users.js
  client/src/assets/usersAvatar.png
  client/src/components/Chats/chats-container.js
  client/src/components/UsersPage/User.js
  client/src/components/UsersPage/User.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added propTypes to userPage
  client/src/components/UsersPage/UsersPage.js
Due: eslint --no-ignore --fix, git add --force
