Repository medjidovKamran/open-social-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

chat ui
  client/package.json
  client/src/assets/avatar.png
  client/src/assets/chat/attach.svg
  client/src/assets/chat/avatar.png
  client/src/assets/chat/checkmark.svg
  client/src/assets/chat/icon-add.png
  client/src/assets/chat/icon-file.png
  client/src/assets/chat/icon-photo.png
  client/src/assets/chat/icon-video.png
  client/src/assets/chat/more-horizontal.svg
  client/src/assets/chat/more-vertical.svg
  client/src/assets/chat/send-icon.png
  client/src/assets/chat/smile-icon.png
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-block-users/chats-block-users.module.scss
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-dialogs/message.js
  client/src/components/Chats/chats-dialogs/message.module.scss
  client/src/components/Chats/chats-dialogs/messages.js
  client/src/components/Chats/chats-dialogs/messages.module.scss
  client/src/components/variables.scss
  client/src/constants/index.js
  client/src/style/index.scss
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

component banner created
  client/src/assets/images_banner/Visit-Us.jpg
  client/src/assets/images_banner/title3_01.jpg
  client/src/assets/images_banner/title3_02.jpg
  client/src/assets/images_banner/title3_04.jpg
  client/src/assets/images_banner/title3_05.jpg
  client/src/components/Banner/Banner.js
  client/src/components/Banner/Banner.scss
  client/src/components/Banner/index.js
  client/src/components/Layout/Layout.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed pagination and added css styles.
  client/src/components/UsersPage/User.js
  client/src/components/UsersPage/User.scss
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/UsersPage.scss
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Users friends page
  client/src/assets/chat/attach.svg
  client/src/assets/chat/avatar.png
  client/src/assets/chat/checkmark.svg
  client/src/assets/chat/icon-add.png
  client/src/assets/chat/icon-file.png
  client/src/assets/chat/icon-photo.png
  client/src/assets/chat/icon-video.png
  client/src/assets/chat/more-horizontal.svg
  client/src/assets/chat/more-vertical.svg
  client/src/assets/chat/send-icon.png
  client/src/assets/chat/smile-icon.png
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Fix apiUrl
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

Fix dialog chats
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
Due: eslint --no-ignore --fix, git add --force

merged with dev
  client/package-lock.json
Due: git add --force, prettier --write

design updated
  client/src/components/Banner/Banner.js
  client/src/components/Banner/Banner.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

user search panel created
  client/package.json
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

cors issue resolved
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force

component modified
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

redux
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
  client/src/components/confirm/confirm.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UserSearchPanel/UsersSearchPanel.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Create user-profile page
  client/src/actions/profile.js
  client/src/components/EditProfile/EditProfile.scss
  client/src/components/EditProfileForm/EditProfileForm.js
  client/src/components/EditProfileForm/EditProfileForm.scss
  client/src/components/InputField/FieldInput.js
  client/src/components/InputField/FieldInput.scss
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/User/User.scss
  client/src/components/UsersPage/UsersPage.js
  client/src/components/UsersPage/index.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/ProfileButton.scss
  client/src/components/profile/index.js
  client/src/constants/index.js
  client/src/reducers/profile.js
  client/src/reducers/users.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

minor edits
  client/src/actions/profile.js
  client/src/actions/users.js
  client/src/components/UsersPage/User/User.js
  client/src/components/UsersPage/UsersPage.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/index.js
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force

added componentDidMount to User component
  client/src/components/UsersPage/User/User.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/reducers/users.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force

fix route profile
  client/src/actions/profile.js
  client/src/components/Layout/Layout.js
  client/src/components/Menu/Menu.js
  client/src/components/UsersPage/User/User.js
  client/src/components/login/LoginPage.js
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force

fixed merge
  client/src/components/UsersPage/User/User.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

fixed method componentWillUnmount in User component
  client/src/components/UsersPage/User/User.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

minor edits
  client/src/components/EditProfile/EditProfile.js
  client/src/components/EditProfileForm/EditProfileForm.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
Due: eslint --no-ignore --fix, git add --force

hid profile profile photo reactivation button for users and fixed profile
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
Due: eslint --no-ignore --fix, git add --force

hid photo reactivation button for users with binding to id
  client/src/components/profile/UserProfile/OwnChat.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/constants/index.js
  client/src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

minor fixes
  client/src/components/Layout/Layout.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

merge
  client/src/components/Layout/Layout.js
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
Due: eslint --no-ignore --fix, git add --force

minor fixes
  client/src/components/profile/UserProfile/Profile.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UsersPage.js
  client/src/constants/index.js
  client/src/reducers/users.js
Due: eslint --no-ignore --fix, git add --force

Fix actions
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/constants/index.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force

Fix actions
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/actions/users.js
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/constants/index.js
Due: eslint --no-ignore --fix, git add --force

redux
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
Due: eslint --no-ignore --fix, git add --force

test
  client/.prettierrc.js
  client/.stylelintrc.js
  client/src/components/LangSelect/LangSelect.js
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/Menu/Menu.js
  client/src/components/Menu/Menu.scss
  client/src/components/variables.scss
  client/src/constants/index.js
  client/src/reducers/menu.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

some progress
  client/package-lock.json
  client/src/components/LangSelect/LangSelect.js
  client/src/components/LangSelect/LangSelect.scss
  client/src/components/Menu/Menu.js
  client/src/components/login/LoginForm.js
  client/src/components/login/LoginPage.js
  client/src/components/signup/SignupPage.js
  client/src/components/signup/UserRegForm.js
  client/src/components/variables.scss
  client/src/style/index.scss
  client/src/utils/lib/languages.json
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

added all datas and save in ocalstorage
  client/src/components/App.js
  client/src/components/LangSelect/LangSelect.js
  client/src/components/LangSelect/LangSelect.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

userSearchPanel debounce added
  client/debug.log
  client/package-lock.json
  client/package.json
  client/src/components/UsersPage/UserSearchPanel/UserSearchPanel.js
  client/src/components/UsersPage/UsersPage.js
Due: eslint --no-ignore --fix, git add --force, prettier --write

Path conditions:
  eslint --no-ignore --fix: any of: *.{js,jsx}
  git add --force: ((any of: *.{js,jsx}) or (any of: *.{json,md,graphql})) or (any of: *.{css,less,styl,scss,sass,sss})
  prettier --write: any of: *.{json,md,graphql}
  stylelint --fix: any of: *.{css,less,styl,scss,sass,sss}
