Repository medjidovKamran/open-social-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --no-ignore --fix",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint --fix",
      "git add --force"
    ]
  }

Test CI
  client/src/components/menu/signup/signup.js
  client/src/pages/home.js
Due: eslint --no-ignore --fix, git add --force

Test CI
  client/src/pages/home.js
Due: eslint --no-ignore --fix, git add --force

Fix lint
  .vscode/settings.json
  Dockerfile
Due: git add --force, prettier --write

Fix lint
  client/package-lock.json
  client/package.json
Due: git add --force, prettier --write

Fix lint
  client/package.json
Due: git add --force, prettier --write

Main page fix
  client/src/pages/home.js
Due: eslint --no-ignore --fix, git add --force

Home page fix
  client/src/pages/home.js
Due: eslint --no-ignore --fix, git add --force

update logo and favicon with title
  client/public/favicon.ico
  client/public/index.html
  client/src/components/header/header.module.scss
  client/src/image/header/logo.png
Due: git add --force, stylelint --fix

new logo name
  client/src/components/header/header.jsx
Due: eslint --no-ignore --fix, git add --force

datepicker added
  client/package.json
  client/src/components/menu/signup/signup.js
  client/src/components/menu/signup/signup.module.scss
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

Set webpack
  client/.babelrc
  client/babel.config.js
  client/package.json
  client/public/index.html
  client/public/normalize.scss
  client/src/components/app/app.js
  client/src/components/app/app.module.css
  client/src/components/app/app.module.scss
  client/webpack.config.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

Set webpack
  client/src/pages/about.js
Due: eslint --no-ignore --fix, git add --force

datepicker updated
  client/src/components/menu/login/login.module.scss
  client/src/components/menu/signup/signup.js
  client/src/components/menu/signup/signup.module.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

changed webpack.config.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

styles fixed
  client/src/components/menu/signup/signup.module.scss
Due: git add --force, stylelint --fix

validation added
  client/package.json
  client/src/components/menu/login/login.js
  client/src/components/menu/signup/signup.js
  client/src/components/menu/signup/signup.module.scss
  client/src/components/validation/validation.module.scss
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

changed login
  client/src/components/menu/login/login.js
Due: eslint --no-ignore --fix, git add --force

Add license file
  LICENSE
Due: none

Fix dependencies
  client/package.json
Due: git add --force, prettier --write

Visible menu item
  client/src/actions/user.js
  client/src/components/Layout/Layout.scss
  client/src/components/Menu/Menu.js
  client/src/components/Menu/Menu.scss
  client/src/components/Menu/MenuItem/MenuItem.js
  client/src/components/signup/UserRegForm.js
  client/src/constants/index.js
  client/src/reducers/menu.js
  client/src/routes/index.js
  client/src/server.js
  client/src/utils/fetch-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Add chats page
  client/package.json
  client/public/favicon.ico
  client/public/site.webmanifest
  client/src/components/Chats/Chats.js
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/index.js
  client/src/routes/index.js
  client/src/utils/fetch-with-auth.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

user profile added, some styles not working
  client/package.json
  client/src/assets/default_user_profile.jpg
  client/src/assets/profile_background.jpg
  client/src/components/profile/Home.js
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.js
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.scss
  client/src/components/profile/UserProfile/ProfileContainer.js
  client/src/components/profile/UserProfile/ProfileContainer.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.scss
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

user profile added, some styles not working
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.scss
  client/src/components/profile/UserProfile/ProfileContainer.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.scss
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
Due: git add --force, stylelint --fix

Fix profile styles
  client/package.json
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.js
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

added chats and mini-chats window to new project with redux
  client/package.json
  client/report.20200426.120840.9432.0.001.json
  client/src/assets/avatar1.png
  client/src/assets/avatar2.png
  client/src/components/Chats/Chats.js
  client/src/components/Chats/Chats.scss
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.module.scss
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-block-users/chats-block-users.module.scss
  client/src/components/Chats/chats-dialogs/chats-dialogs.js
  client/src/components/Chats/chats-dialogs/chats-dialogs.module.scss
  client/src/components/Chats/chats-mini/chats-mini.js
  client/src/components/Chats/chats-mini/chats-mini.module.scss
  client/src/components/Chats/chats-nav/chats-nav.js
  client/src/components/Chats/chats-nav/chats-nav.module.scss
  client/src/components/Chats/chats-search/chats-search.js
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/components/Chats/index.js
  client/src/components/Layout/Layout.js
  client/src/components/Layout/Layout.scss
  client/src/components/Menu/Menu.js
  client/src/routes/index.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

user profile updated, some styles fixed
  client/src/components/profile/UserProfile/ProfileButton.scss
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.js
  client/src/components/profile/UserProfile/ProfileButton/ProfileButton.scss
  client/src/components/profile/UserProfile/ProfileContainer.js
  client/src/components/profile/UserProfile/ProfileContainer.scss
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.js
  client/src/components/profile/UserProfile/ProfilePhoto/ProfilePhoto.scss
  client/src/components/profile/UserProfile/TabsComponent/TabsComponent.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Fix signUp username field
  client/src/actions/user.js
  client/src/components/signup/UserRegForm.js
Due: eslint --no-ignore --fix, git add --force

attempt to get data about users through Redux
  client/src/components/Chats/chats-container.js
  client/src/components/Chats/chats-search/chats-search.module.scss
  client/src/constants/index.js
  client/src/reducers/user.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Add chats-redux
  client/src/actions/chats.js
  client/src/actions/user.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.module.scss
  client/src/components/Chats/chats-block-users/chats-block-users.js
  client/src/components/Chats/chats-block-users/chats-block-users.module.scss
  client/src/components/Chats/index.js
  client/src/components/Menu/Menu.js
  client/src/constants/index.js
  client/src/reducers/chats.js
  client/src/reducers/index.js
  client/src/reducers/user.js
  client/src/routes/index.js
  client/src/utils/axios-with-auth.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

validation added
  client/src/components/InputField/FieldInput.js
  client/src/components/InputField/FieldInput.scss
  client/src/components/login/LoginForm.js
  client/src/components/signup/UserRegForm.js
  client/src/components/signup/signup.scss
  client/src/utils/validators/ValidationRules.js
  client/src/utils/validators/validators.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added user-auth reducer, to get admin data, after login
  client/src/actions/user.js
  client/src/components/Chats/chats-block-user-admin/chats-block-user-admin.js
  client/src/constants/index.js
  client/src/reducers/index.js
  client/src/reducers/user-auth.js
Due: eslint --no-ignore --fix, git add --force

Fix loggin message of errors
  client/src/actions/user.js
Due: eslint --no-ignore --fix, git add --force

Fix loggin message of errors
  client/package.json
  client/src/actions/user.js
  client/yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

Fix loggin message of errors
  client/package.json
  client/yarn.lock
Due: git add --force, prettier --write

Fix auth issues
  client/src/actions/user.js
  client/src/components/login/LoginForm.js
  client/src/components/signup/UserRegForm.js
  client/src/utils/validators/validators.js
Due: eslint --no-ignore --fix, git add --force

fixed styles, errors messages changed
  client/src/components/InputField/FieldInput.js
  client/src/components/login/LoginForm.js
  client/src/components/profile/UserProfile/ProfileButton.scss
  client/src/components/signup/UserRegForm.js
  client/src/components/signup/signup.scss
Due: eslint --no-ignore --fix, git add --force, stylelint --fix
